{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="ibox-title"> 
                <h1> Evaluación Técnica de LaLiga </h1>
            </div>
    <div class="ibox-content">
        <div class="row">
            <h3> Elbert Rondón </h3>
            <h3> elbertrondon1@gmail.com </h3>
            <h3> Telf: 674628537 </h3>
        </div>
    </div>

{% endblock %}


